<!DOCTYPE html>
<html>
    <head>
        <style>
            
        </style>
    </head>
    
    <body>
        <span>Good day, Admin!</span>
        
        <br><br>
        
        <span>The password of the day for the guest account is: {{password}}</span>
        
        <br><br><br>
        
        <form action = "logout" method = "get">
            <button type = "submit">Logout</button>
        </form>
    </body>
</html>