<!DOCTYPE html>
<html>
    <head>
        <style>
            
        </style>
    </head>
    
    <body>
        <span>Good day, Admin!</span>
        
        <br><br>
        
        <span>This page is currently under maintenance and is being revised. Come back next time :D</span>
        
        <br><br><br>
        
        <form action = "logout" method = "post">
            <button type = "submit">Logout</button>
        </form>
    </body>
</html>