<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js">
        </script>
        <script type="text/javascript">
            $(document).ready(()=>{
                console.log('ready');
                $('#basicButton').click(()=>{
                    console.log('basic search on ' + new Date());
                    
                    $.ajax({
                        url: '/SearchShelf/' + $('#basicquery').val(),
                        type: 'GET',
                        data: {
                            basicquery: $('#basicquery').val()
                        },
                        dataType: 'json',
                        success: (response) => {
                            console.log(response);
                            $(".result").remove();
                            response.forEach((data)=>{
                                $('#basicresults').append('<div class="result" data-toggle="collapse" href="#' + data._id + '">' + 
                                                          '<span id="shelfnumber">' + 'Shelf ' + data.shelf_number + '</span>' + 
                                                          '<span id="buttonholder">' + '<button onclick="changePicture()" class="btn btn-success" value="' + data.shelf_number + '">GO</button>' + '</span>' + 
                                                            '<div id="' + data._id + '" class="collapse expandinfo">' +
                                                                '<div>' + data.subject_codes + '</div>' +
                                                                '<div>' + data.subject_names + '</div>' +
                                                            '</div>' +
                                                          '</div>');
                                
                            });
                        }
                    });
                });
            });
        </script>
        <style>
            html{
                width: 100%;
                height: 250px;
            }
            .result{
                width: 100%;
                min-height: 40px;
            }
            .expandinfo{
                min-height: 40px;
            }
            #shelfnumber{
                font-size: 20px;
            }
            #buttonholder{
                float: right;
            }
            .result:hover{
                background-color:rgba(0,0,0, 0.2);
            }
            #LogoTab{
                height: 100px;
                width: 100%;
                font-size: 30px;
                font-family: times new roman;
                display: inline-block;
                vertical-align: middle;
                text-align: center;
                border-color: green;
                border-style:solid;
                background-color: darkseagreen;
            }
            #TopTab{
                background-color: antiquewhite;
                height: 100px;
                width: 100%;
                display: inline-flex;
                text-align: center;
            }
            #MainArea{
                margin-top: 5px;
                width: 100%;
                height: 580px;
                display: inline-flex;
            }
            #ButtonArea{
                width: 170px;
                height: inherit;
            }
            #ButtonCSS{
                background-color: #4CAF50; /* Green */
                border: none;
                color: white;
                width: inherit;
                padding: 15px 32px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin-bottom: 5px;
                border-radius: 100px;
            }
            #MapArea{
                background-image: url(71474412_398192217540257_9018590216679587840_n%20copy.png);
                background-size:contain;
                background-repeat: no-repeat;
                background-position: center;
                background-color: cadetblue;
                width: 750px;
                margin-left: 50px;
                height: inherit;
                border-color: green;
                border-style:solid;
                background-color: darkseagreen;
            }
            #SearchArea{
                width: 100%;
                height: 50px;
                display: inline-flex;
                text-align: center;
                vertical-align: middle;
                line-height: 50px;
            }
            #List{
                margin-left: 30px;
            }
            #FilterCSS{
                border: none;
                background-color: green;
                padding: 5px 100px;
                color: white;
                font-size: 20px;
                margin-top: 10px;
            }
            #RightTabDisplay{
                width: 284px;   
                height: inherit;
                margin-left: 30px;
            }
            #SearchArea{
                width: inherit;
                height: 110px;
                display: block;
            }
            #DirectoryDisplay{
                height: auto;
                width: inherit;
                margin-top: 5px;
                border-color: green;
                border-style:solid;
                background-color: darkseagreen;
            }
            #ShelfCSS{
                border: none;
                text-align: center;
                width: 100%;
                height: 100%;
                font-size: 16px;
            }
            #Advanced{
                border-color: green;
                text-align: center;
                width: 100%;
                height: 50%;
                font-size: 16px;
                background-color: darkseagreen;
            }
            #Basic{
                border-color: green;
                text-align: center;
                width: 100%;
                height: 50%;
                font-size: 16px;
                background-color: darkseagreen;
            }
            #floor{
                width: fill;
            }
            th{
                color: white;
                padding: 5px;
                font-size: 20px;
                text-align: center;
                background-color:darkgreen;
                
            }
            
            td{
                background-color:beige;
                text-align: center;
                
            }
            thead{
                /*display:block;*/
                width:inherit;
            }
            tbody{
                max-height: 200px;
                
                /*display:inline-block;*/
                overflow-y: scroll;
            }
            #scrolltable{
                margin-top: 20px;
                height: 200px;
                overflow: auto;
            }
            #scrolltable th div{
                position: absolute;
                margin-top: -20px;
            }
            #Drt{
                text-align: center; 
                width: 100%;
            }
        </style>
        
        <script>
             window.addEventListener("load", displayFloorPlan)
            
            function changePicture(){
                document.getElementById("MapArea").style.backgroundImage = "url(GuidedMap_1.png)";
            }
            
            function displayFloorPlan(){
                var location = "{{location}}";
                if(location == "8th Floor"){
                    document.getElementById("MapArea").style.backgroundImage = "url(71474412_398192217540257_9018590216679587840_n%20copy.png)";
                }
                else{
                    document.getElementById("MapArea").style.backgroundImage = "url(8thFloorMezz.JPG)";
                }
                
                
                if(location == "8th Floor"){
                    document.getElementById("Drt").style.visibility = "visible";
                    document.getElementById("Drt2").style.visibility = "visible";
                }
                else{
                    document.getElementById("Drt").style.visibility = "hidden";
                    document.getElementById("Drt2").style.visibility = "hidden";
                }
            }
        </script>
    </head>
    
    <body>
        <div id="LogoTab">
            
            <img src="1200px-De_La_Salle_University_Seal.svg.png" style="height:100%;text-align: center; display: inline-block;float: left;">
            <p2 style="float: left;vertical-align: middle; line-height: 100px; margin-left: 10px; font-size: 30px;">THE LEARNING COMMONS</p2>
            
        </div>
        <br>
        <div id="MainArea">
            <div id="ButtonArea">
                <br><br><br><br>
                
                <form id="Floor" action="7th-Floor-Mezzanine" method="post" style="display:inline">
                    <input type="submit" id="ButtonCSS" style="background-color: green;width: 200px;" value="Floor 7-Mezzanine">
                </form>
                <form id="Floor" action="8th-Floor" method="post" style="display:inline; width: inherit;">
                    <input type="submit" id="ButtonCSS" style="background-color:indianred; width: 200px;" value="Floor 8">
                </form>
                <form id="Floor" action="8th-Floor-Mezzanine" method="post" style="display:inline">
                    <input type="submit" id="ButtonCSS" style="background-color: indianred;width: 200px;" value="Floor 8-Mezzanine">
                </form>
                <form id="Floor" action="10th-Floor-Mezzanine" method="post" style="display:inline">
                    <input type="submit" id="ButtonCSS" style="background-color: skyblue;width: 200px;" value="Floor 10-Mezzanine">
                </form>
            </div>
            <div id="MapArea">
               
            </div>
            <div id="RightTabDisplay">
                <div id="SearchArea">
                    <div>
                        <button type="button" id="Basic" data-toggle="modal" data-target="#basicModal" style="border-radius: 100px;margin-bottom: 2px;">Basic Search</button>
                        <form>
                        </form>
                    </div>
                    <div>
                        <button type="button" id="Advanced" data-toggle="modal" data-target="#advancedModal" style="border-radius: 100px;">Advanced Search</button>
                    </div>
                </div>
                <div id="DirectoryDisplay">
                    <h1 style="text-align: center">{{location}}</h1>
                    <table style="text-align: center; width: 100%;">
                        <tr>
                            <th>SHELVES</th>
                        </tr>
                    </table>
                    <div id="scrolltable">
                        <table style="text-align: center; width: 100%;">
                            {{#each data}}
                                <tr>
                                    <td>
                                        <input type="button" id="ShelfCSS" onclick="changePicture()" value="{{shelf_number}}">
                                    </td>
                                </tr>
                            {{/each}}
                        </table>
                    </div>
                    <br>
                    <table id="Drt" style="text-align: center; width: 100%;">
                        <tr>
                            <th>DISCUSSION ROOMS</th>
                        </tr>
                    </table>
                    <table id="Drt2" style="text-align: center; width: 100%;">
                        
                            <tr>
                                <td>
                                    1
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    2
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    3
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    4
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    5
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    6
                                </td>                                
                            </tr>
                            <tr>
                                <td>
                                    7
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    8
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    9
                                </td>
                            </tr>
                    </table>
                </div>
            </div>
        </div>
        
        
        <!-- Basic Search -->
        <div class="modal fade" id="basicModal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Basic Search</h4>
                    </div>
                    <div class="modal-body">
                         <input type="text" id="basicquery" placeholder="Search text...">
                        <input id="basicButton" type="button" value="Search" class="btn btn-primary">
                        <br><br>
                        <div id="basicresults" style="overflow-y:auto; max-height: calc(100vh - 225px);"></div>
                    </div>
                </div>
                
            </div>
        </div>
        
        <!-- Advanced Search -->
        <div class="modal fade" id="advancedModal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Advanced Search</h4>
                    </div>
                    <div class="modal-body">
                        <input type="text" id="advancedquery" placeholder="Location...">
                        <select>
                            <option>AND</option>
                            <option>OR</option>
                        </select><br>
                        <input type="text" id="advancedquery2" placeholder="Subject Name...">
                        <select>
                            <option>AND</option>
                            <option>OR</option>
                        </select><br>
                        <input type="text" id="advancedquery3" placeholder="Section..."><br>
                        <input id="advancedButton" type="button" value="Search">
                        <br><br>
                        <div id="advancedresults"></div>
                    </div>
                </div>
                
            </div>
        </div>
    </body>
</html>
