<!DOCTYPE html>
<html>
    <head>
        <style>
            body{
                width: 250px;
                height: 250px;
            }
            
            #loginDiv{
                position: absolute;
                text-align: center;
                width: 300px;
                height: 150px;
                left: 50%;
                top: 50%;
                margin-left: -150px;
                margin-top: -75px;
            }
        </style>
    </head>
    
    <body>
        <div id = "loginDiv">
            <form action = "login" method = "post">
                <table align = "center">
                    <tr>
                        <td>Username:</td>
                        <td><input type = "text" name = "username"></td>
                    </tr>
                    
                    <tr>
                        <td>Password:</td>
                        <td><input type = "password" name = "password"></td>
                    </tr>
                    
                    <tr>
                        <td colspan = 2><br><button type = "submit">Login</button><br></td>
                    </tr>
                    
                    <tr>
                        <td colspan = 2 style = "color: red"><br>{{invalid_credentials}}</td>
                    </tr>
                </table>
            </form>
        </div>
    </body>
</html>