<!DOCTYPE html>
<html>
    <head>
        <style>
            body{
                width: 250px;
                height: 250px;
            }
            
            #loginDiv{
                position: absolute;
                text-align: center;
                width: 300px;
                height: 150px;
                left: 50%;
                top: 50%;
                margin-left: -150px;
                margin-top: -75px;
            }            
            
            button.link{
                background: none;
                outline-color: transparent;
                border: none;
                padding: 0;
                color: #069;
                cursor: pointer;
            }
            
            button.link:hover{
                text-decoration: underline;
            }
        </style>
    </head>
    
    <body>
        <div id = "loginDiv">
            <table align = "center">
                <form action= "login" method= "post">
                    <tr>
                        <td>Username:</td>
                        <td><input type = "text" name = "username"></td>
                    </tr>

                    <tr>
                        <td>Password:</td>
                        <td><input type = "password" name = "password"></td>
                    </tr>

                    <tr>
                        <td colspan = 2><br><button type = "submit">Login</button></td>
                    </tr>
                </form>

                <form action = "7th-Floor-Mezzanine" method = "post">
                    <tr>
                        <td colspan = 2><button type = "submit" class = "link">Back to website</button></td>
                    </tr>
                </form>

                <tr>
                    <td colspan = 2 style = "color: red"><br>{{invalid_credentials}}</td>
                </tr>
            </table>
        </div>
    </body>
</html>